<section class="about globalHeight">
    <div class="container">
        <div class="text-center text-white">
            <h2 class="text-uppercase fs-1 fw-bolder">about component</h2>
            <div class="decorate-line d-flex justify-content-center align-items-center gap-3 mb-3">
                <span class="line"></span>
                <span class="star fa fa-star"></span>
                <span class="line"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-2 px-5 text-white">
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</section>
