<footer class="text-white text-center">
    <div class="upper-footer">
      
        <div class="row g-2 py-5">
          <div class="col-md-4">
            <div class="footerOne">
              <h3 class="text-uppercase">location</h3>
              <p class="mb-2">2215 John Daniel Drive</p>
              <p>Clark, MO 65243</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footerTwo">
              <h3 class="text-uppercase">around the web</h3>
              <ul class="list-unstyled d-flex justify-content-center gap-2">
                <li class="rounded-circle border d-flex justify-content-center align-items-center"><span class="fa-brands fa-facebook"></span></li>
                <li class="rounded-circle border d-flex justify-content-center align-items-center"><span class="fa-brands fa-twitter"></span></li>
                <li class="rounded-circle border d-flex justify-content-center align-items-center"><span class="fa-brands fa-linkedin"></span></li>
                <li class="rounded-circle border d-flex justify-content-center align-items-center"><span class="fa-solid fa-globe"></span></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h3 class="text-uppercase">about freelancer</h3>
              <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
          </div>
        </div>
      
    </div>
    <div>
      <p class="p-4 copyright">Copyright © Your Website 2021</p>
    </div>
  </footer>