<section class="home py-5 globalHeight">
    <div class="container ">
        <img src="images/avataaars.svg" class="avatar mx-auto mb-3" alt="avatar">
        <div class="text-center text-white">
            <h2 class="mb-3 fs-1 fw-bolder">START FRAMEWORK</h2>
            <div class="decorate-line d-flex justify-content-center align-items-center gap-3 mb-3">
                <span class="line"></span>
                <span class="star fa fa-star"></span>
                <span class="line"></span>
            </div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>